@import "/styles/variables";

.header {
  flex: 0 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 2rem;
  border-bottom: thin solid $border-color;
  &.indexStyling {
    display: none;
  }
  &.menuStyling {
    & > *:first-child {
      display: none;
    }
  }
}
