@import "/styles/variables";

.editorContainer {
  height: 100%;
  width: 100%;
  display: flex;
  * {
    font-family: $exo-2;
  }
  svg {
    display: block;
  }
  &.disable {
    pointer-events: none;
    opacity: 0.5;
    * {
      pointer-events: none !important;
    }
  }
}

.editorWrapper {
  height: 100%;
  flex-grow: 1;
}

.miniMap {
  border-radius: 2px;
}

.controls {
  background: none;
  box-shadow: none !important;
  & > div {
    margin: 0.5rem;
    border-radius: 4px;
    background: $light;
    border: none;
    opacity: 0.5;
    transition: opacity 0.1s ease-out;
    &:hover {
      opacity: 1;
    }
  }
}
