@import "../../../styles/variables";

.container {
  width: 200px;
  min-width: 150px;
  max-width: 200px;
  font-size: 0.75rem;
  background: #262626;
  display: flex;
  flex-direction: column;
}

.wrapper {
  width: 100%;
  flex: 1 1 0;
  display: flex;
  flex-direction: column;
  overflow: auto;
  padding: 2vh 0;

  & > div {
    margin-bottom: 10px;
  }

  &::-webkit-scrollbar {
    width: 6px;
  }
  &::-webkit-scrollbar-track {
    background: transparent;
  }
  &::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.25);
  }
  &::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, 0.5);
  }
}

.description {
  font-size: 1rem;
  width: 100%;
  padding: 1rem 1.5rem;
  background: $border-color;
  flex: 0 0 auto;
}

.dndNode {
  margin: 1vh 1rem;
  border: 2px solid $blue-dark;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 6px;
  cursor: grab;
  background: #3d3d3d;
  * {
    font-size: 14px;
  }
  h5 {
    padding: 0.5rem 0.75rem;
    width: 100%;
    display: flex;
    font-weight: 400;
    display: flex;
    align-items: center;
    border-bottom: thin solid #212121;
    color: $lighter;
    svg {
      margin-right: 0.25em;
      path {
        fill: $lighter;
      }
    }
  }
  &.move {
    border-color: $blue-dark;
    input:focus {
      border-color: $blue-dark;
    }
  }
  &.read {
    border-color: $logo-light;
    select:focus {
      border-color: $logo-light;
    }
  }
  &.set {
    border-color: $red;
    select:focus {
      border-color: $red;
    }
  }
  &.pause {
    border-color: $orange;
    input:focus {
      border-color: $orange;
    }
    select:focus {
      border-color: $orange;
    }
  }
}

.inputContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  .inputWrapper {
    padding: 0.5rem 0.25rem 0.5rem 0.75rem;
    &:not(:last-child) {
      border-bottom: thin solid #202020;
    }
  }
}

.inputWrapper {
  display: flex;
  align-items: center;
  padding: 0.5rem 0.75rem;
  label {
    font-size: 14px;
    color: $blue-dark;
    margin-right: 0.75rem;
    font-weight: 700;
  }
  input {
    padding: 1px 5px;
    width: 2.5rem;
    text-align: right;
    background: #2a2a2a;
    border-radius: 0.25rem;
    border: thin solid #202020;
    transition: border-color 0.1s ease-out, background-color 0.1s ease-out;
    pointer-events: none;
    &::placeholder {
      opacity: 0.75;
      transition: opacity 0.1s ease-out;
    }
    &:hover {
      background: #1d1d1d;
      &::placeholder {
        opacity: 1;
      }
    }
  }
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

.selectWrapper {
  display: flex;
  align-items: center;
  padding: 0.5rem 0.75rem;
  select {
    width: 100%;
    padding: 1px 5px;
    background: #2a2a2a;
    border-radius: 0.25rem;
    border: thin solid #202020;
    cursor: pointer;
    transition: border-color 0.1s ease-out;
    pointer-events: none;
    &:invalid {
      color: rgb(255, 255, 255, 0.25);
      font-weight: 300;
    }
  }
}

.selectAndInput {
  display: flex;
  width: 100%;
  padding: 0.5rem 0.75rem;
  .inputWrapper {
    padding: 0;
    flex: 1 1 0;
    margin-right: 0.5rem;
    input {
      padding: 2px 5px;
      width: 100%;
    }
  }
  .selectWrapper {
    padding: 0;
    flex: 0 0 auto;
  }
}
