@import "/styles/variables.scss";

$trans-dur: 0.6s;
$padding-left: 6vw;

.interface {
  width: 100%;
  display: flex;
  padding: 4vh 0 6vh 0;
  flex: 1;
  min-height: 0;
}

.leftArea {
  width: 25vw;
  height: 100%;
  margin-left: $padding-left;
  position: relative;
  transition: width $trans-dur ease-out;
}

.stepContainer {
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  h1 {
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.1em;
    font-size: 0.75rem;
    margin: 1em 0 1em 1em;
    transform: translateX(calc(100% + 1rem));
    transition: opacity 0.4s ease-out 0.2s;
    pointer-events: none;
  }
  .step {
    background: #0b0b0b;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding: 1rem 1.25rem;
    width: 80%;
    border-radius: 0.5rem;
    flex: 1 1 0;
    margin: 0.75rem 0;
    overflow: hidden;
    cursor: pointer;
    position: relative;
    margin-left: 20%;
    transform: translateX(100%);
    &:nth-of-type(1) {
      transition: transform $trans-dur ease-out, opacity $trans-dur ease-out,
        margin 0.2s ease-out;
    }
    &:nth-of-type(2) {
      transition: transform $trans-dur ease-out 0.05s,
        opacity $trans-dur ease-out, margin 0.2s ease-out;
    }
    &:nth-of-type(3) {
      transition: transform $trans-dur ease-out 0.1s,
        opacity $trans-dur ease-out, margin 0.2s ease-out;
    }
    &:nth-of-type(4) {
      transition: transform $trans-dur ease-out 0.15s,
        opacity $trans-dur ease-out, margin 0.2s ease-out;
    }
    h2 {
      font-size: 1.3rem;
      margin: 0.25rem 1rem;
    }
    p {
      font-size: 13px;
      font-weight: 300;
      width: 50%;
      text-align: right;
      opacity: 0;
      transform: translateX(8px);
      transition: opacity 0.6s ease-out, transform 0.8s ease-out;
    }
    h3 {
      position: absolute;
      top: 50%;
      right: 1rem;
      transform: translate(50%, -50%) rotate(-90deg);
      transform-origin: center;
      opacity: 0;
      transition: right 0.2s ease-out, opacity 0.2s ease-out;
    }
    img {
      z-index: -1;
      transition: filter 0.2s ease-out;
    }
    &:hover {
      p {
        opacity: 1;
        transform: translateX(0);
        transition: opacity 0.2s ease-out, transform 0.4s ease-out;
      }
      img {
        filter: brightness(0.5);
      }
    }
  }
}

.contentContainer {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  padding-right: 20px;
  &::-webkit-scrollbar {
    width: 8px;
  }
  &::-webkit-scrollbar-track {
    background: transparent;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 0.5rem;
    background: rgba(255, 255, 255, 0.25);
    transition: background-color 0.2s ease-out;
  }
  &::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, 0.5);
  }
  &::-webkit-scrollbar-thumb:active {
    background: $logo-dark;
  }
  & > div {
    max-height: 100%;
    width: 100%;
  }
}

.rightArea {
  height: 100%;
  flex: 1 1 0;
  border-radius: 1rem;
  overflow: hidden;
  margin-right: 4vw;
  position: relative;
  transition: width $trans-dur ease-out, margin-left $trans-dur ease-out;
  video {
    background: black;
  }
  video::-webkit-media-controls-volume-slider {
    display: none;
  }
  video::-webkit-media-controls-mute-button {
    display: none;
  }
}

.contentActive > .leftArea {
  width: 50vw;
  .stepContainer {
    h1 {
      opacity: 0;
      transition: opacity 0.4s ease-out;
    }
    .step {
      opacity: 0.5;
      transform: translateX(calc(-#{$padding-left} + 3rem));
      &:hover {
        opacity: 1;
        &:nth-of-type(1),
        &:nth-of-type(2),
        &:nth-of-type(3),
        &:nth-of-type(4) {
          transition: transform $trans-dur ease-out, opacity 0.1s ease-out,
            margin 0.2s ease-out;
        }
        img {
          filter: brightness(0.75);
        }
      }
      p {
        display: none;
      }
      h3 {
        opacity: 1;
        right: 1.5rem;
      }
      &:nth-of-type(1) > h3 {
        transition: right 0.4s ease-out calc(#{$trans-dur} + 0.2s),
          opacity 0.2s ease-out calc(#{$trans-dur} + 0.2s),
          padding-bottom 0.2s ease-out;
      }
      &:nth-of-type(2) > h3 {
        transition: right 0.4s ease-out calc(#{$trans-dur} + 0.4s),
          opacity 0.2s ease-out calc(#{$trans-dur} + 0.4s),
          padding-bottom 0.2s ease-out;
      }
      &:nth-of-type(3) > h3 {
        transition: right 0.4s ease-out calc(#{$trans-dur} + 0.6s),
          opacity 0.4s ease-out calc(#{$trans-dur} + 0.6s),
          padding-bottom 0.2s ease-out;
      }
      &:nth-of-type(4) > h3 {
        transition: right 0.4s ease-out calc(#{$trans-dur} + 0.8s),
          opacity 0.4s ease-out calc(#{$trans-dur} + 0.8s),
          padding-bottom 0.2s ease-out;
      }
    }
    .step.activeStep {
      opacity: 1;
      margin-left: calc(20% + 1rem);
      border: solid thin $blue-mid;
      h3 {
        padding-bottom: 1rem;
      }
    }
  }
}

.contentActive > .rightArea {
  margin-left: 2vw;
}
