@import "/styles/variables";

.swiperContainer {
  height: 100%;
  width: 100%;
}

.swiperPrev,
.swiperNext {
  position: absolute;
  z-index: 10;
  top: 50%;
  cursor: pointer;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 4rem;
  overflow: hidden;
  opacity: 0.75;
  border-radius: 0.25rem;
  border: thin solid $border-color;
  transition: background-color 0.1s ease-out, border-color 0.1s ease-out,
    opacity 0.1s ease-out;
  &:hover {
    background: $hover-bg-light;
    opacity: 1;
    border-color: transparent;
  }
  &.swiperDisabled {
    background: none;
    opacity: 0.25;
    cursor: default;
    border-color: transparent;
  }
}
.swiperPrev {
  left: 2rem;
}
.swiperNext {
  right: 2rem;
}

.swiperSlide {
  padding: 2vh 7rem;
  font-size: 1rem;
  line-height: 175%;
  font-weight: 300;
  width: 100% !important;
}

.pagination {
  position: absolute;
  bottom: 2vh !important;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
  .bullet {
    padding: 0 0.25rem;
    opacity: 0.25;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 0.1s ease-out;
    &::after {
      content: "";
      height: 0.5rem;
      width: 0.5rem;
      border-radius: 50%;
      border: 2px solid $lightest;
      transition: background-color 0.1s ease-out;
    }
    &:hover {
      opacity: 0.75;
    }
    &.bulletActive {
      opacity: 0.75;
      &::after {
        background: $lightest;
      }
    }
  }
}
