@import "../styles/variables";

.contents {
  border-bottom: thin solid $border-color;
}

.swiperContainer {
  height: 100%;
  width: 100%;
}

.swiperPrev,
.swiperNext {
  position: absolute;
  z-index: 10;
  top: 50%;
  cursor: pointer;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 4rem;
  overflow: hidden;
  opacity: 0.75;
  border-radius: 0.25rem;
  border: thin solid $border-color;
  transition: background-color 0.1s ease-out, border-color 0.1s ease-out,
    opacity 0.1s ease-out;
  &:hover {
    background: $hover-bg;
    opacity: 1;
    border-color: transparent;
  }
  &.swiperDisabled {
    background: none;
    opacity: 0.25;
    cursor: default;
    border-color: transparent;
  }
}
.swiperPrev {
  left: 2rem;
}
.swiperNext {
  right: 2rem;
}

.swiperSlide {
  padding: 6vh 8rem;
}

.pagination {
  position: absolute;
  bottom: 4vh;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
  .bullet {
    margin: 0 0.25rem;
    height: 0.75rem;
    width: 0.75rem;
    border-radius: 50%;
    border: medium solid $lightest;
    opacity: 0.25;
    cursor: pointer;
    transition: opacity 0.1s ease-out, background-color 0.1s ease-out;
    &:hover {
      opacity: 0.75;
    }
    &.bulletActive {
      opacity: 0.75;
      background: $lightest;
    }
  }
}
