@import "../styles/variables.scss";

.nav {
  display: flex;
  align-items: center;
  color: $lightest;
  svg {
    margin: 0 0.5rem;
    opacity: 0.5;
  }
  a {
    padding: 0 0.5rem;
    opacity: 0.75;
    transition: opacity 0.2s ease-out;
    &:hover {
      opacity: 1;
    }
  }
}
