@import "/styles/variables";

.questionContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem 0;
  width: 100%;
}

.question {
  font-size: 20px;
  margin: 0.5em 0;
  line-height: 1.5em;
}

.scaleQuestion {
}

.ageWrapper {
  width: 50%;
}

.textQuestion {
  .question {
    width: 75%;
    text-align: center;
  }
}

.ageWrapper,
.textWrapper {
  display: flex;
  align-items: center;
  margin: 2rem 0;
  position: relative;
  input {
    padding: 1rem;
    width: 100%;
    padding-left: 3rem;
    font-size: 18px;
  }
  svg {
    pointer-events: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0.5rem;
    opacity: 0.5;
    transition: opacity 0.1s ease-out;
    path {
      transition: fill 0.1s ease-out;
    }
  }
  .underline {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 1px;
    width: 100%;
    background: $lightest;
    opacity: 0.5;
    transition: opacity 0.1s ease-out, background-color 0.1s ease-out;
  }
  &:hover {
    svg,
    .underline {
      opacity: 1;
    }
  }
  input:focus {
    & ~ svg {
      opacity: 1;
      path {
        fill: $green;
      }
    }
    & ~ .underline {
      opacity: 1;
      background: $green;
    }
  }
}

.ageWrapper {
  width: 6rem;
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  input[type="number"] {
    -moz-appearance: textfield;
  }
  input {
    text-align: right;
  }
}

.textWrapper {
  width: 100%;
}

.scaleContainer,
.listContainer {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
}
.scaleContainer {
  margin: 2rem 0;
}
.listContainer {
  margin: 1rem 0;
  flex-direction: column;
}

.scaleWrapper,
.listWrapper {
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: opacity 0.1s ease-out;
  input {
    visibility: hidden;
    height: 0;
    width: 0;
  }
  .customRadio {
    height: 2rem;
    width: 2rem;
    border-radius: 2rem;
    border: medium solid $lightest;
    opacity: 0.5;
    position: relative;
    transition: border-color 0.1s ease-out, opacity 0.1s ease-out;
    &::after {
      content: "";
      position: absolute;
      border-radius: 100%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      height: 0;
      width: 0;
      transition: height 0.2s ease-out, width 0.2s ease-out;
    }
  }
  span {
    opacity: 0.5;
    transition: opacity 0.1s ease-out;
  }
  &:hover {
    .customRadio,
    span {
      opacity: 1;
    }
  }
  input:checked {
    & ~ .customRadio {
      opacity: 1;
      &::after {
        height: calc(100% - 8px);
        width: calc(100% - 8px);
      }
    }
    & ~ span {
      opacity: 1;
    }
  }
}

.scaleWrapper {
  flex-direction: column;
  justify-content: center;
  width: calc(2rem + 5vw);
  span {
    margin-top: 0.5rem;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
  }
}

.listWrapper {
  justify-content: flex-start;
  width: 100%;
  margin: 0.5rem 0;
  span {
    font-size: 18px;
    margin-left: 1rem;
  }
  .customRadio::after {
    background: $green;
  }
  &:hover .customRadio {
    border-color: $green;
  }
  input:checked ~ .customRadio {
    border-color: $green;
  }
  input:checked ~ span {
    color: $green;
  }
}

.five {
  .scaleWrapper {
    &:nth-child(1) {
      .customRadio::after {
        background: $red;
      }
      &:hover .customRadio {
        border-color: $red;
      }
      input:checked ~ .customRadio {
        border-color: $red;
      }
      input:checked ~ span {
        color: $red;
      }
    }
    &:nth-child(2) {
      .customRadio::after {
        background: $amber;
      }
      &:hover .customRadio {
        border-color: $amber;
      }
      input:checked ~ .customRadio {
        border-color: $amber;
      }
      input:checked ~ span {
        color: $amber;
      }
    }
    &:nth-child(3) {
      .customRadio::after {
        background: $gold;
      }
      &:hover .customRadio {
        border-color: $gold;
      }
      input:checked ~ .customRadio {
        border-color: $gold;
      }
      input:checked ~ span {
        color: $gold;
      }
    }
    &:nth-child(4) {
      .customRadio::after {
        background: $highlight;
      }
      &:hover .customRadio {
        border-color: $highlight;
      }
      input:checked ~ .customRadio {
        border-color: $highlight;
      }
      input:checked ~ span {
        color: $highlight;
      }
    }
    &:nth-child(5) {
      .customRadio::after {
        background: $green;
      }
      &:hover .customRadio {
        border-color: $green;
      }
      input:checked ~ .customRadio {
        border-color: $green;
      }
      input:checked ~ span {
        color: $green;
      }
    }
  }
}
