@import "/styles/variables";

.subsystemCard {
  margin-top: 2px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 0.5rem;
  overflow: hidden;
  background: #141414;
  box-shadow: 0 1rem 1.5rem -1rem rgba(0, 0, 0, 0.5);
  transition: transform 0.2s ease-out, box-shadow 0.2s ease-out;
  cursor: pointer;
  position: relative;
  &:hover {
    transform: translateY(-2px);
    box-shadow: 0 1rem 2.5rem -1.25rem rgba(255, 255, 255, 0.25);
  }
  .status {
    display: flex;
    align-items: center;
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    padding: 0.35rem 0.5rem;
    background: rgba(0, 0, 0, 0.75);
    border-radius: 0.25rem;
    z-index: 1;
    span {
      font-size: 12px;
      margin-left: 0.25rem;
    }
    &.completed {
      border: thin solid $green;
      svg {
        fill: $green;
      }
      span {
        color: $green;
      }
    }
    &.inProgress {
      border: thin solid $amber;
      svg {
        fill: $amber;
      }
      span {
        color: $amber;
      }
    }
  }
  .imgWrapper {
    height: 55%;
    width: 100%;
    position: relative;
  }
  .mainContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 45%;
    padding: calc(0.5rem + 1.5vw);
    overflow-y: auto;
    h3 {
      font-weight: 500;
      margin-bottom: 1em;
    }
    .mainWrapper {
      width: 100%;
      display: flex;
      p {
        font-size: 0.75rem;
        font-weight: 300;
        flex: 1 1 65%;
        line-height: 1.5em;
      }
      .separator {
        height: 100%;
        width: 1px;
        background: $border-color;
        margin: 0 calc(0.5rem + 1vw);
        flex: 0 0 auto;
      }
      .recommended {
        display: flex;
        flex-direction: column;
        flex: 1 1 35%;
        h4 {
          font-size: 10px;
          text-transform: uppercase;
          letter-spacing: 0.1em;
          opacity: 0.75;
        }
        ul {
          margin: 0.5rem 0 0.5rem 1rem;
          li {
            font-size: 0.75rem;
            font-weight: 300;
            margin: 0.5em 0;
            a {
              position: relative;
              font-size: inherit;
              font-weight: inherit;
              &::after {
                content: "";
                pointer-events: none;
                position: absolute;
                bottom: -2px;
                left: 0;
                height: 1px;
                width: 0;
                background: $light;
                transition: width 0.2s ease-out;
              }
              &:hover::after {
                width: 100%;
              }
            }
            &.completed::marker,
            &.completed a {
              color: $green;
            }
            &.inProgress::marker,
            &.inProgress a {
              color: $amber;
            }
          }
        }
      }
    }
    &::-webkit-scrollbar {
      width: 8px;
    }
    &::-webkit-scrollbar-track {
      background: transparent;
    }
    &::-webkit-scrollbar-thumb {
      border-radius: 0.5rem;
      background: rgba(255, 255, 255, 0.25);
    }
    &::-webkit-scrollbar-thumb:hover {
      background: rgba(255, 255, 255, 0.5);
    }
  }
  &.completed {
    box-shadow: 0 1rem 1.5rem -1rem rgba(0, 124, 37, 0.5);
    transition: transform 0.1s ease-out, box-shadow 0.1s ease-out;
    &:hover {
      box-shadow: 0 1rem 2.5rem -1.25rem rgba(0, 255, 76, 0.25);
      .mainContainer,
      .imgWrapper {
        filter: none;
      }
    }
    .mainContainer,
    .imgWrapper {
      filter: brightness(0.5);
      transition: filter 0.1s ease-out;
    }
  }
  &.inProgress {
    box-shadow: 0 1rem 1.5rem -1rem rgba(124, 95, 0, 0.5);
    transition: transform 0.1s ease-out, box-shadow 0.1s ease-out;
    &:hover {
      box-shadow: 0 1rem 2.5rem -1.25rem rgba(124, 95, 0, 0.5);
    }
  }
}
