@import "variables";

* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  box-sizing: border-box;
  text-decoration: none;
  user-select: none;
  background: transparent;
  font-family: $exo-2;
  color: $lightest;
  font-size: 1rem;
}

html,
body {
  width: 100vw;
  max-width: 100vw;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-height: 100vh;
}
