@import "/styles/variables";

.contentWrapper {
  background: #141414;
  padding: 3rem;
  border-radius: 1rem;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.5);
  h2 {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
  }
  section {
    margin: 1rem 0;
  }
  p {
    font-size: 15px;
    line-height: 1.7em;
    font-weight: 300;
  }
  ul,
  ol {
    margin: 0.25rem 0 0.25rem 2rem;
    font-size: 15px;
    li {
      font-size: inherit;
      font-weight: 300;
      line-height: 1.55em;
    }
    li:not(:last-child) {
      margin-bottom: 0.5rem;
    }
  }
  ol > li {
    padding-left: 0.25rem;
  }
  .subsystemList {
    margin: 2rem 0 2rem 2rem;
    font-size: 1rem;
  }
  b {
    font-size: inherit;
    font-weight: 600;
    font-size: inherit;
  }
}

.createWrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: max(250px, min(35vh, 400px));
  grid-column-gap: 2vw;
  grid-row-gap: 4vh;
  justify-content: flex-start;
  align-items: flex-start;
  padding-bottom: 2rem;
}

.improveWrapper {
  display: flex;
  flex-direction: column;
  & > div {
    margin: 2vh 0;
  }
}

.tts {
  position: absolute;
  top: 1rem;
  right: 3rem;
  border-radius: 0.25rem;
  background: rgb(54, 49, 66);
  height: 2rem;
  width: 2rem;
  border: thin solid rgb(80, 72, 97);
  display: flex;
  align-items: center;
  justify-content: center;
  svg * {
    fill: $lightest;
  }
}
