@import "/styles/variables";

$padding-top: calc(2.5vh + 2.5rem);
$padding-bottom: calc(1.5vh + 1.5rem);
$padding-side: min(10vw, 10rem);

.backdrop {
  background: black;
  opacity: 0.75;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  z-index: 10;
  cursor: pointer;
}

.card {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: $padding-top $padding-side $padding-bottom $padding-side;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #181818;
  border-radius: 1rem;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.5);
  z-index: 100;
  section {
    width: 25vw;
    margin-right: 8vw;
    display: flex;
    flex-direction: column;
    h1 {
      font-size: 2rem;
      font-weight: 600;
      line-height: 1.25em;
    }
    p {
      margin-top: 1rem;
      font-size: 14px;
      color: $light;
      line-height: 1.5em;
    }
  }
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 35vw;
    max-width: 450px;
    & > div:not(:last-of-type) {
      width: 100%;
      position: relative;
      display: flex;
      flex-direction: column;
      input,
      textarea {
        width: 100%;
        font-size: 14px;
        padding: 0.75em 1em 0.75em 3.5em;
        border: thin solid rgba(255, 255, 255, 0.25);
        border-radius: 0.5rem;
        line-height: 2em;
        transition: border-color 0.2s ease-out, background-color 0.2s ease-out;
      }
      textarea {
        resize: none;
        height: 15vh;
        max-height: 200px;
        line-height: 1.5rem;
        font-weight: 300;
        &::-webkit-scrollbar {
          width: 8px;
        }
        &::-webkit-scrollbar-track {
          background: transparent;
        }
        &::-webkit-scrollbar-thumb {
          border-radius: 0.5rem;
          background: rgba(255, 255, 255, 0.25);
          transition: background-color 0.2s ease-out;
        }
        &:hover {
          &::-webkit-scrollbar-thumb {
            background: rgba(255, 255, 255, 0.5);
          }
        }
        &:focus {
          &::-webkit-scrollbar-thumb {
            background: $logo-dark;
          }
        }
      }
      label {
        position: absolute;
        top: 1.65em;
        left: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
        opacity: 0.5;
        transform: translateY(-50%);
        transition: opacity 0.1s ease-out;
        path {
          display: flex;
          align-items: center;
          justify-content: center;
          transition: fill 0.2s ease-out;
        }
      }
      span {
        color: $red;
        margin: 0.25rem 0 0.75rem 1rem;
        font-size: 0.75rem;
        height: 1em;
      }
      input:hover,
      textarea:hover {
        border-color: rgba(255, 255, 255, 0.5);
        & + label {
          opacity: 1;
        }
      }
      input:focus,
      textarea:focus {
        border-color: $blue-mid;
        background: $darkest;
        caret-color: $blue-mid;
        & + label {
          opacity: 1;
        }
      }
      input:not(:placeholder-shown) + label,
      textarea:not(:placeholder-shown) + label {
        opacity: 1;
      }
      &[status="error"] {
        input,
        textarea {
          border-color: $red;
        }
        label {
          opacity: 1;
          path {
            fill: $red;
          }
        }
      }
    }
    button {
      width: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      background: linear-gradient(to right, $logo-light, $logo-dark);
      height: 3.5rem;
      border-radius: 0.5rem;
      font-weight: 600;
      letter-spacing: 0.05em;
      cursor: pointer;
      margin-top: 0.5rem;
      transition: transform 0.1s ease-out, box-shadow 0.1s ease-out,
        filter 0.2s ease-out;
      svg {
        margin-left: 1rem;
        transition: transform 0.1s ease-out, filter 0.1s ease-out;
      }
      &:disabled {
        pointer-events: none;
        cursor: default;
        opacity: 0.5;
        filter: grayscale(100%);
      }
      &:hover {
        transform: translateY(-2px);
        box-shadow: 0 16px 16px -4px rgba(0, 0, 0, 0.5);
        svg {
          transform: translate(1px, -1px);
          -webkit-filter: drop-shadow(0px 4px 2px rgba(0, 0, 0, 0.4));
          filter: drop-shadow(0px 4px 2px rgba(0, 0, 0, 0.4));
        }
      }
    }
  }
  svg {
    display: block;
  }
  &.confirming {
    filter: brightness(0.25);
    user-select: none;
  }
}

.socials {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 4rem;
  span {
    font-size: 0.75rem;
    color: $light;
  }
  .icons {
    margin-top: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    a {
      transform: scale(0.75);
      margin: 0 0.5rem;
      border-radius: 0.5rem;
      height: 3rem;
      width: 3rem;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: background-color 0.1s ease-out;
      svg {
        fill: #dbdbdb;
        height: 24px;
        width: 24px;
        transition: fill 0.1s ease-out;
      }
      &:hover {
        background: $darkest;
        svg {
          fill: $blue-mid;
        }
      }
    }
  }
}

.logo {
  position: absolute;
  bottom: $padding-bottom;
  left: $padding-side;
  opacity: 0.5;
  transition: opacity 0.1s ease-out;
  &:hover {
    opacity: 1;
  }
}

.close {
  position: absolute;
  top: calc(#{$padding-top} / 5);
  right: calc(#{$padding-side} / 8);
  cursor: pointer;
  padding: 0.5rem;
  opacity: 0.5;
  border-radius: 0.25rem;
  transition: background-color 0.1s ease-out, opacity 0.1s ease-out,
    fill 0.1s ease-out !important;
  &:hover {
    opacity: 1;
    fill: $red;
    background: $hover-bg-light;
  }
}

.confirm {
  background: #181818;
  border-radius: 0.75rem;
  border: thin solid $red;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  flex-direction: column;
  padding: 2.25rem 3rem 1.5rem 3rem;
  &.show {
    display: flex;
    z-index: 100;
  }
  h2 {
    font-weight: 700;
    font-size: 1.25rem;
  }
  p {
    font-weight: 300;
    font-size: 14px;
    margin-top: 0.75rem;
    max-width: 320px;
    line-height: 1.7em;
  }
  .btnContainer {
    align-self: flex-end;
    margin-top: 1.5rem;
    display: flex;
    align-items: center;
    & > * {
      padding: 0.75em 1.5em;
      border-radius: 0.25rem;
      line-height: 1.4em;
    }
    .cancel {
      font-weight: 300;
      margin-right: 1rem;
      opacity: 0.75;
      transition: background-color 0.1s ease-out, opacity 0.1s ease-out;
      &:hover {
        background: $hover-bg-light;
        opacity: 1;
      }
    }
    .discard {
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: 500;
      background: $red;
      box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.5);
      transition: transform 0.1s ease-out, box-shadow 0.1s ease-out;
      svg {
        margin-right: 0.5rem;
      }
      &:hover {
        transform: translateY(-2px);
        box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.5);
      }
    }
  }
}
